<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error{
            color:red;
        }
    </style>
</head>
<body>
<form th:method="post"  th:action="@{/people}" th:object="${person}" enctype="multipart/form-data">

    <label for="image">Avatar</label>
    <input type="file" name="userImage" id="image">
    <br/>
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="age">age</label>
    <input type="number" id="age" th:field="*{age}">
    <div class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email">
    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <input type="submit" value="create" />
</form>
</body>
</html>