<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<form>
    <div>
    <label for="authorId">Author</label>
    <input disabled th:value="${post.getAuthorId()}" id="authorId">
    </div>
    <div>
        <label for="date">Date</label>
        <input disabled th:value="${post.getDate()}" id="date">
    </div>
    <div>
        <label for="text">Description</label>
        <textarea th:value="${post.getText()}" id="text"></textarea>
    </div>
</form>
</body>
</html>